.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: white;

    animation: cambioRGB 60s infinite 3.75s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes cambioRGB {
    10% {
        background-color: #31e4a6;
        color: DarkSlateBlue;
    }

    20% {
        background-color: #6de431;
        color: #772bec;

    }

    30% {
        background-color: #e4a331;
        color: black
    }

    40% {
        background-color: #772bec;
        color: #6de431;
    }

    50% {
        background-color: DarkSlateBlue;
        color: #31e4a6;
    }

    60% {
        background-color: #31e4a6;
        color: DarkSlateBlue;
    }

    70% {
        background-color: #6de431;
        color: #772bec;

    }

    80% {
        background-color: #e4a331;
        color: black
    }

    90% {
        background-color: #772bec;
        color: #6de431;
    }

    100% {
        background-color: DarkSlateBlue;
        color: #31e4a6;
    }
}