.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: white;
    color: white;

    /* animation: cambioRGB 37.50s infinite 3.75s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; */
}

/* .Texto-Color {
    color: #31e4a6;
    animation: cambioRGB 37.50s infinite 3.75s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
} */

/* 
@keyframes cambioRGB {
    0% {
        color: #31e4a6;
    }
    10% {
        color: #e4a331;
    }
    20% {
        color: #772bec;
    }
    30% {
        color: white;
    }
    40% {
        color: #31e4a6;
    }
    50% {
        color: #772bec;
    }
    60% {
        color: #e4a331;
    }
    70% {
        color: white;
    }
    80% {
        color: #772bec;
    }
    90% {
        color: white;
    }
    100% {
        color: #e4a331;
    }
}


@keyframes cambioRGB {
    0% {
        background-color: DarkSlateBlue;
        color: #31e4a6;
    }

    10% {
        background-color: #31e4a6;
        color: #e4a331;
    }

    20% {
        background-color: #6de431;
        color: #772bec;
    }

    30% {
        background-color: #e4a331;
        color: white;
    }

    40% {
        background-color: #772bec;
        color: #31e4a6;
    }

    50% {
        background-color: DarkSlateBlue;
        color: #772bec;
    }

    60% {
        background-color: #31e4a6;
        color: #e4a331;
    }

    70% {
        background-color: #6de431;
        color: white;

    }

    80% {
        background-color: #e4a331;
        color: #772bec;
    }

    90% {
        background-color: #772bec;
        color: white;
    }

    100% {
        background-color: DarkSlateBlue;
        color: #e4a331;
    }
} */